<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth System</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="content">
            <form class="form" action="/" method="post">
            <input type="text" placeholder="Username" class="fileinput" name="user" required>
            <input type="password" placeholder="password" class="fileinput" name="pass" required>
            <button type="submit">Enter</button>
            <a class="link" href="/secret">Secret</a>
            <a class="link" href="/testing">testing</a>
            <h1 class="error"><%= err %></h1>
        </form>
    </div>
    <script src="../public/scripts/auth.js"></script>
</body>
</html>