<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth System</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="content">
        <div class="form">
            <input type="text" placeholder="Username" class="fileinput">
            <input type="password" placeholder="password" class="fileinput">
            <button type="submit">Enter</button>
        </div>
    </div>
</body>
</html>